<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/tablas.css">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <h1><%=uss%></h1>
    <div class="tablas">
    <table>
        <thead>
            <tr>
                <th>codigo</th>
                <th>documento</th>
                <th>linea</th>
                <th>Monto</th>
                <th>Fh Apro</th>
                <th>Plazo</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <%
            datosCre.forEach(datos=>{
            %>
            <tr>
                <td>
                    <input type="text" class="doc" value="<%=datos.codigocredito%>">
                </td>
                <td>
                    <input type="text" class="usu" value="<%=datos.doccli%>">
                </td>
                <td>
                    <input type="text" class="cla" value="<%=datos.codigolinea%>">
                </td>
                <td>
                    <input type="text" class="rol" value="<%=datos.montotoprestado%>">
                </td>
                <td>
                    <input type="date" class="est" value="<%=datos.fechaaproba%>">
                </td>
                <td>
                    <input type="text" class="img" value="<%=datos.plazo%>">
                </td>
                <td>
                    <input type="submit" class="img" value="Actualizar">
                </td>
                <td>
                    <input type="submit" class="img" value="Eliminar">
                </td>
            </tr>
            <%
        });
            %>
        </tbody>
    </table>
         
</div>
    <section>
        <form action="insertarCreditos" method="POST">
            <div class="campos__form">
                <label for="">Codigo</label>
                <input type="number" name="codigo" required>
            </div>
            <div class="campos__form">
                <label for="">Documento</label>
                <input type="text" name="documento" required>
            </div>
            <div class="campos__form">
                <label for="">Linea</label>
                <input type="text" name="linea" required>
            </div>
            <div class="campos__form">
                <label for="">Monto Pres</label>
                <input type="number" name="monto" required>
            </div>
            <div class="campos__form">
                <label for="">Fecha apro</label>
                <input type="date" name="fecha" required>
            </div>
            <div class="campos__form">
                <label for="">Plazo</label>
                <input type="number" name="plazo" required>
            </div>
            <div class="campos__form">
                <input type="submit">
            </div>
        </form>
    </section>
</body>
</html>