<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO-02.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/bundle.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <title>Cliente</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="/">
                <div class="logo__header">
                </div>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/cuentaEmple">Crear Cuentas</a></li>
                <li><a href="/asigCredEmple">Asig Credito</a></li>
                <li><a href="/lineasEmp">Lineas Credito</a></li>
                <li><a href="/datosEmpCli">Reg Cliente</a></li>
                <li><a href="/clientesEmp">Cliente</a></li>
                <li><a href="/creditosEmp">Creditos</a></li>
                <li><a href="cerrar">Salir</a></li>
            </ul>
        </nav>
    </header>
    <main class="container" id="inicio">
            <article class="tabla">
                <h1>Creditos</h1>
                <table class="tablaActEli tablaActEli__w100">
                    <thead>
                        <tr>
                            <th>codigo</th>
                            <th>documento</th>
                            <th>linea</th>
                            <th>Monto</th>
                            <th>Fh Apro</th>
                            <th>Plazo</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        datosCre.forEach(datos=>{
                        %>
                        <tr>
                            <td>
                                <input type="text" class="cod" name="cod" value="<%=datos.codigocredito%>">
                            </td>
                            <td>
                                <input type="text" class="doc" name="doc" value=" <%=datos.doccli%>">
                            </td>
                            <td>
                                <input type="text" class="codL" name="codL" value="<%=datos.codigolinea%>">                             
                            </td>
                            <td>
                                <input type="text" class="mon" name="mon" value="<%=datos.montotoprestado%>">                 
                            </td>
                            <td>
                                <input type="date" class="fecha" name="fecha" value="<%=datos.fechaaproba%>">                               
                            </td>
                            <td>
                                <input type="text" class="plazo" name="plazo" value="<%=datos.plazo%>">
                            </td>
                            <td>
                                <input type="submit" class="btnActCre btnA" value="Actualiza">
                            </td>
                            <td>
                                <input type="submit" class="btnEliCre btnE" value="Eliminar">
                            </td>
                        </tr>
                        <%
                    });
                        %>
                    </tbody>
                </table>
            </article>
    </main>
    <footer class="footer">
        <div class="derechos">
            <p class="name__footer">© 2021 Sanco. Todos los derechos reservados. Sanco es una marca registrada.</p>
        </div>
        <p>Usuario <%=rol%></p>
    </footer>
</body>
</html>
