<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO-02.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/bundle.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <title>Cliente</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="/">
                <div class="logo__header">
                </div>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/seguridadCli">Seguridad</a></li>
                <li><a href="/datosCli">Mis Datos</a></li>
                <li><a href="/creditosCliV">Mis Credit</a></li>
                <li><a href="/creditosV">Creditos</a></li>
                <li><a href="/consignarCli">Consignar</a></li>
                <li><a href="/TransferirCli">Trasnferir</a></li>
                <li><a href="/retirarCli">Retirar</a></li>
                <li><a href="cerrar">Salir</a></li>
            </ul>
        </nav>
    </header>
    <main class="container" id="inicio">
            <article class="tabla">
                <h1>Creditos Disponibles</h1>
                <table class="tablaActEli">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th>Plazo</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        datosLi.forEach(datos=>{
                        %>
                        <tr>
                            <td>
                                <%=datos.codigolinea%>
                                <input type="hidden" class="cod" value="<%=datos.codigolinea%>" disabled="disabled">
                            </td>
                            <td>
                                <input type="text" class="nom" value="<%=datos.nomlinea%>">
                            </td>
                            <td>
                                <input type="text" class="monto" value="<%=datos.montomaximocredito%>">
                            </td>
                            <td>
                                <input type="text" class="plazo" value="<%=datos.plazomaxcred%>">
                            </td>
                            <td>
                                <input type="submit" class="btnactli" value="Actualizar">
                            </td>
                            <td>
                                <input type="submit" class="btnelili" value="Eliminar">
                            </td>
                        </tr>
                        <%
                    });
                        %>
                    </tbody>
                </table>
            </article>
            <article class="formulario mr">
                <h1>Crear Cuenta</h1>
                <form autocomplete="off" action="/crealinea" method="POST">
                    <input type="number" placeholder="codigo" name="codigo">
                    <input type="text" name="nombre" placeholder="nombre">
                    <input type="number" name="monto" min="0" placeholder="Monto">
                    <input type="number" name="plazo" min="0" placeholder="Meses Plazo">
                    <input type="submit" class="btn" value="Asg">
                </form>
            </article>
    </main>
    <footer class="footer">
        <div class="derechos">
            <p class="name__footer">© 2021 Sanco. Todos los derechos reservados. Sanco es una marca registrada.</p>
        </div>
        <p>Usuario <%=rol%></p>
    </footer>
</body>
</html>
