<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/tablas.css">
    <title>Document</title>
</head>
<body>
    <h1><%=uss%></h1>
    <div class="tablas">
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Plazo</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <%
            datosLi.forEach(datos=>{
            %>
            <tr>
                <td>
                    <input type="text" class="doc" value="<%=datos.codigolinea%>">
                </td>
                <td>
                    <input type="text" class="usu" value="<%=datos.nomlinea%>">
                </td>
                <td>
                    <input type="text" class="cla" value="<%=datos.montomaximocredito%>">
                </td>
                <td>
                    <input type="text" class="rol" value="<%=datos.plazomaxcred%>">
                </td>
                <td>
                    <input type="submit" class="btnact" value="Actualizar">
                </td>
                <td>
                    <input type="submit" class="btnact" value="Eliminar">
                </td>
            </tr>
            <%
        });
            %>
        </tbody>
    </table>
</div>    
</div>
    <section>
        <form action="insertLineas" method="POST">
            <div class="campos__form">
                <label for="">Codigo</label>
                <input type="number" name="codigo" required>
            </div>
            <div class="campos__form">
                <label for="">Nombre</label>
                <input type="text" name="nombre" required>
            </div>
            <div class="campos__form">
                <label for="">Monto</label>
                <input type="number" name="monto" required>
            </div>
            <div class="campos__form">
                <label for="">Plazo</label>
                <input type="number" name="plazo" required>
            </div>
            <div class="campos__form">
                <input type="submit">
            </div>
        </form>
    </section>
</body>
</html>