<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO-02.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/bundle.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <title>Cliente</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="/">
                <div class="logo__header">
                </div>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/Administradormain">Main</a></li>
                <li><a href="cerrar">Salir</a></li>
            </ul>
        </nav>
    </header>
    <main class="container grid" id="inicio">
            <article class="tabla">
                <table class="tablaActEli">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Usuario</th>
                            <th>clave</th>
                            <th>Rol</th>
                            <th>Estado</th>
                            <th>Imagen</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        datosUs.forEach(datos=>{
                        %>
                        <tr>
                            <td>
                                <input type="text" class="doc" value="<%=datos.doccli%>">
                            </td>
                            <td>
                                <input type="text" class="usu" value="<%=datos.nomusu%>">
                            </td>
                            <td>
                                <input type="text" class="cla" value="<%=datos.clave%>">
                            </td>
                            <td>
                                <input type="text" class="rol" value="<%=datos.rol%>">
                            </td>
                            <td>
                                <input type="text" class="est" value="<%=datos.estado%>">
                            </td>
                            <td>
                                <input type="text" class="img" value="<%=datos.imagen%>">
                            </td>
                            <td>
                                <input type="submit" id="btnact" class="btnact btnA" value="Actualizar">
                            </td>
                            <td>
                                <input type="submit" class="btneli btnE" value="Eliminar">
                            </td>
                        </tr>
                        <%
                    });
                        %>
                    </tbody>
                </table>
            </article>
            <article class="formulario mr">
                <h1>Crear Cuenta</h1>
                <form autocomplete="off" action="/crearUsuario" method="POST">
                    <input type="number" placeholder="Cedula" name="documento">
                    <input type="text" placeholder="User" name="usuario">
                    <input type="password" name="clave" placeholder="clave">
                    <select name="rol">
                        <option value="Cliente">Cliente</option>
                        <option value="Empleado">Empleado</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                    <select name="estado">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                    <input type="text" name="imagen" value="Imagen">
                    <input type="submit" class="btn" value="Asg">
                </form>
            </article>
    </main>
    <footer class="footer">
        <div class="derechos">
            <p class="name__footer">© 2021 Sanco. Todos los derechos reservados. Sanco es una marca registrada.</p>
        </div>
        <p>Usuario <%=rol%></p>
    </footer>
</body>
</html>
