<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/tablas.css">
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/actualizar.js"></script>
    <script src="./js/eliminar.js"></script>
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <header class="header headertwo">
        <div class="header__logo">
            <a href="/">
                <div class="logo__header">
                </div>
            </a>
        </div>
        <nav class="header__nav nav2">
            <a href="/usuario">Usuarios</a>
            <a href="/lineas">Lineas</a>
            <a href="/creditos">Creditos</a>
            <a href="/Cliente">Clientes</a>
            <a href="cerrar">Cerrar Sesion</a>
        </nav>
    </header>
    <div class="tablas">
    <table>
        <thead>
            <tr>
                <th>Documento</th>
                <th>Usuario</th>
                <th>clave</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Imagen</th>
                <th>Actualizar</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <%
            datosUs.forEach(datos=>{
            %>
            <tr>
                <td>
                    <input type="text" class="doc" value="<%=datos.doccli%>">
                </td>
                <td>
                    <input type="text" class="usu" value="<%=datos.nomusu%>">
                </td>
                <td>
                    <input type="text" class="cla" value="<%=datos.clave%>">
                </td>
                <td>
                    <input type="text" class="rol" value="<%=datos.rol%>">
                </td>
                <td>
                    <input type="text" class="est" value="<%=datos.estado%>">
                </td>
                <td>
                    <input type="text" class="img" value="<%=datos.imagen%>">
                </td>
                <td>
                    <input type="submit" id="btnact" class="btnact" value="Actualizar">
                </td>
                <td>
                    <input type="submit" class="btneli" value="Eliminar">
                </td>
            </tr>
            <%
        });
            %>
        </tbody>
    </table>
</div>
    <section>
        <h2 class="titulo">Insertar Datos</h2>
        <form autocomplete="off" action="/frminsertar" method="POST">
            <div class="campo-form">
                <label for="">Documento</label>
                <input type="text" name="documento" required>
            </div>
            <div class="campo-form">
                <label for="">Usuario</label>
                <input type="text" name="usuario" required>
            </div>
            <div class="campo-form">
                <label for="">Clave</label>
                <input type="text" name="clave" required>
            </div>
            <div class="campo-form">
                <label for="">rol</label>
                <input type="text" name="rol" required>
            </div>
            <div class="campo-form">
                <label for="">Estado</label>
                <select name="estado" id="" required>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
            <div class="campo-form">
                <label for="">Imagen</label>
                <input type="text" name="imagen" required>
            </div>
            <input class="btn" type="submit">
        </form>
        
    </section>
    <footer class="footer">
        <div class="derechos">
            <p class="name__footer">© 2021 Sanco. Todos los derechos reservados. Sanco es una marca registrada.</p>
            <p>Usuario <%=rol%></p>
        </div>
    </footer>
</body>
</html>